* {
    margin: 0;
    padding: 0;
}

button.btn-primary,
a.btn-primary {
    background-color: #2ECC71 !important;
    font-family: "manrope", sans-serif !important;
    border-radius: 3px !important;
    color: #000;
    border: none;
    font-size: 14px !important;
}

p, a {
    font-size: 16px;
}

nav a {
    color: #fff;
    font-family: "manrope", sans-serif !important;
}

.header {
    z-index: 1000;
    transition: 0.5s;
}

.header.scroll {
    backdrop-filter: blur(1px);
    background-color: rgba(13, 16, 27, 0.753);
}

.landing {
    background: linear-gradient(110.36deg, #0D101B -3.84%, #0A0C14 116.99%);
    color: #fff;
    padding-bottom: 80px;
    overflow: hidden;
}

h1, h2 {
    font-family: "prata", serif;
    line-height: 56px;
}

p, ul, li {
    font-family: "manrope", sans-serif;
    font-weight: 300;
}

.landing h1 {
    margin-top: 150px;
}

#circle {
    top: -120px;
    left: -50px;
}

#abc {
    right: -10px;
    bottom: -10px;
    height: 70%;
}

.content {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(241, 241, 241);
}

.content h5 {
    font-family: "manrope", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.content p {
    font-family: "manrope", sans-serif;
    font-size: 16px;
    line-height: 187.5%;
}

footer {
    background: linear-gradient(110.36deg, #0D101B -3.84%, #0A0C14 116.99%);
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer a {
    color: #fff;
}